.comment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.comment-content {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.comment-content strong {
    margin-right: 20px; /* Increase the space between the username and the comment */
}

.comment-actions {
    display: flex;
    align-items: center;
}
