.offcanvas {
  width: 150px; /* Adjust the width to make it narrower */
}

.sidebar {
  margin-top: 20px;
  padding-top: 20px;
}

.btn-sidebar-offcanvas {
  font-size: 1.25rem; /* Increase text size */
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  padding: 10px; /* Adjust padding for spacing */
  width: 100%;
  transition: background-color 0.3s; /* Add transition for hover effect */
  background-color: white;
}

.mb-auto {
  margin-bottom: auto !important;
}

.btn-sidebar svg {
  margin-right: 0.5rem; /* Space between icon and text */
  width: 24px; /* Increase SVG size */
  height: 24px; /* Increase SVG size */
}

.dark-mode .sidebar-offcanvas {
 background-color: #333;
}

.dark-mode .btn-sidebar-offcanvas{
background-color: #333; /* Dark mode hover background color */
  color: white;
  border: transparent;
}

.dark-mode .btn-sidebar-offcanvas:hover {
  background-color: #444;
}


.btn-sidebar:hover {
  background-color: #e1e1e1; /* Change background color on hover */
}
/* Offcanvas Menu */
.offcanvas {
  background-color: white; /* Light mode background */
}

.dark-mode .offcanvas {
  background-color: #333; /* Light mode background */
}

.dark-mode .offcanvas.offcanvas-start{
  background-color: #333;
  color: white;
}

.dark-mode .offcanvas-body {
background-color: #333;
color: white;

}
