/* Ensures the container takes the full viewport height */
.user-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #f0f0f0; /* Light grey background for contrast */
}

.user-details-container.dark-mode {
  background-color: #333; /* Dark background for dark mode */
}

.user-details-card {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff; /* White background for the user details card */
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: Adds a shadow to the card for better visibility */
}

.user-details-card.dark-mode {
  background-color: #444; /* Dark background for the card in dark mode */
  border: 1px solid #555; /* Darker border in dark mode */
  color: #f0f0f0; /* Light text for dark mode */
}

.user-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 2px solid #ccc;
}

.user-image.dark-mode {
  border: 2px solid #888; /* Darker border for image in dark mode */
}

.user-details input {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.user-details input.dark-mode {
  background-color: #555; /* Darker background for inputs in dark mode */
  border: 1px solid #666; /* Darker border for inputs in dark mode */
  color: #f0f0f0; /* Light text color for inputs in dark mode */
}

.user-details p {
  margin: 5px 0;
}

.user-details p.dark-mode {
  color: #f0f0f0; /* Light text for dark mode */
}

.buttons-container {
  display: flex;
  gap: 10px; /* Adjust the gap as needed */
  justify-content: center;
}

.user-details button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #dc3545;
  color: white;
  cursor: pointer;
}

.user-details button:hover {
  background-color: #c82333;
}

.user-details button.dark-mode {
  background-color: #dc3545; /* Same background color for dark mode */
}

.user-details button.dark-mode:hover {
  background-color: #c82333; /* Same hover color for dark mode */
}

.delete-button {
  background-color: #dc3545;
}

.delete-button:hover {
  background-color: #c82333;
}

.delete-button.dark-mode {
  background-color: #dc3545; /* Same background color for dark mode */
}

.delete-button.dark-mode:hover {
  background-color: #c82333; /* Same hover color for dark mode */
}
