.user-managment-container {
  padding: 20px;
}

.user-videos {
  margin-top: 20px;
  text-align: center; /* Center align the content */
}

.user-image {
  width: 50px; /* Smaller size */
  height: 50px; /* Smaller size */
  border-radius: 50%; /* Make the image circular */
  margin-bottom: 20px;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
