/* .row { */
    /* margin-left: 100px; Adjust the margin to accommodate the sidebar */
    /* background-size: 100vh; 
    flex-wrap: wrap;
  }
   */
/* 
  .row>* {
    background-size: 100vh; 
    flex-wrap: wrap;
  } */

/* .dark-mode .row {
    background: #555;
    display: fixed;
    flex-wrap: wrap;
    background-color: #555;
    background-size: 100vw 100vh;
     background-size: cover;
  }  */

 /* .videoGrid .over-container{
  position: flex;
  min-height: 100vh;
 } */

 /* .col {
  position: flex;
} */




  .videoGrid .container-fluid {
    flex: 1;
    padding: 20px;
    justify-content: flex-start;
    background-color: #fff;
    /* height: calc(100% - 56px); Adjust height to account for the navbar */
    flex-wrap: wrap;
    background-size: cover;
    position: static;
  }

  .dark-mode .col{
    background-color: #555;
    background-size: 100vw 100vh; 
  }
  .dark-mode .container-fluid {
    background-color: #555;
    background-size: 100vw 100vh; 
    background-size: cover;
  }
  
  .card-img-top {
    width: 100%;
    height: auto;
  }
 


body.dark-mode{
  background-color: #555;
  position: relative;
}
  
.videoGrid{
  min-height: 98vh;
}