.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-color: transparent;
  height: 100%;
  align-items: flex-start;
}

.card-img-top {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 0;
  text-align: start;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  position: relative;
  cursor: pointer;
  margin: 0 12px 0 0;
  flex: auto;
  display: flex;
}

.card img.rounded-circle {
  margin-right: 15px;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dark-mode .card {
  background-color: #555;
  color: white;
  border-color: #555;
}

.dark-mode .card-body {
  background-color: #555;
  color: white;
  border-color: #555;
}

.dark-mode .card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 0;
  text-align: start;
}

/* Remove underline from all links */
.card a {
  text-decoration: none;
  color: inherit;
}

.card a:hover,
.card a:focus,
.card a:active {
  text-decoration: none;
  color: inherit;
}
